body{
  background: #54c5cd;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 5px;
  background: #317176;
  .logo{
    width: 200px;
    img{
      display: block;
      width: 100%;
    }
  }
}

#simple-menu{
  ul{
    padding: 0;
  }
  li{
    padding:  0;
  }
  a{
    display: block;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    &.active{
      background: #14787f;
      color: #fff;
    }
  }
}

.items-warpper{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 0 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card{
  width: 23%;
  margin-bottom: 20px;
  .card-header{
    height: 40px;
    span{
      font-size: 1rem;
    }
  }
  .item-price{
    padding: 10px 0 0;
    font-weight: bold;
  }
}

.сounting{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.delete-all{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.form-wrapper{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 100px 0;
  .form-item{
    width: 100%;
    &.button-block{
      padding-top: 20px;
    }
    .input-field, .textarea-field{
      width: 100%;
      input, textarea{
        width: 100%;
      }
    }
  }
}

.footer{
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 0 20px;
  }
}
  